@model IEnumerable<EXAMENMVC.Models.Vehiculo>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity!.IsAuthenticated)
{
    <h1 class="display-4">
        Bienvenido
        @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
    </h1>
}
<p>
    <a class="btn btn-success btn-lg" asp-action="Create">
        <i class="fas fa-plus-circle"></i> Nuevo Vehiculo
    </a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
           <th>IDVEHICULO</th>
           <th>NRO_PLACA</th>
           <th>NOM_MARCA</th>
           <th>NOM_MODELO</th>
            <th>año</th>
           <th> Color</th>
            <th>estado</th>
            <th>Imagen</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.IDVEHICULO)</td>
                <td>@prod.NRO_PLACA)</td>
                <td>@prod.Modelo.Marca.NOM_MARCA)</td>
                <td>@prod.Modelo.NOM_MODELO)</td>
                <td>@prod.año.ToString("dd/MMM/yyyy")</td>
                <td>@prod.Color)</td>
                <td>@prod.estado)</td>
                <td>
                    @if (!string.IsNullOrEmpty(prod.Imagen))
                    {
                        <img src="~/imagenes/@prod.Imagen" alt="Imagen de Vehículo" width="100" />
                    }
                    else
                    {
                        <span>No imagen</span>
                    }
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@prod.IDVEHICULO">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a class="btn btn-info btn-sm ml-2" asp-action="Details" asp-route-id="@prod.IDVEHICULO">
                        <i class="fas fa-info-circle"></i> Detalles
                    </a>
                    <a class="btn btn-danger btn-sm ml-2" asp-action="Delete" asp-route-id="@prod.IDVEHICULO">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>