@model IEnumerable<EXAMENMVC.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>REGISTRO DE VEHICULOS</h1>

<p>
    <a class="btn btn-success btn-lg" asp-action="Create">
        <i class="fas fa-plus-circle"></i> Nuevo Vehiculo
    </a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IDVEHICULO)</th>
            <th>@Html.DisplayNameFor(model => model.NRO_PLACA)</th>
            <th>@Html.DisplayNameFor(model => model.Modelo.Marca.NOM_MARCA)</th>
            <th>@Html.DisplayNameFor(model => model.Modelo.NOM_MODELO)</th>
            <th>Año</th>
            <th>@Html.DisplayNameFor(model => model.Color)</th>
            <th>@Html.DisplayNameFor(model => model.estado)</th>
            <th></th>

            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IDVEHICULO)</td>
                <td>@Html.DisplayFor(modelItem => item.NRO_PLACA)</td>
                <td>@Html.DisplayFor(modelItem => item.Modelo.Marca.NOM_MARCA)</td>
                <td>@Html.DisplayFor(modelItem => item.Modelo.NOM_MODELO)</td>
                <td>@Html.DisplayFor(modelItem => item.año)</td>
                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.IDVEHICULO">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a class="btn btn-info btn-sm ml-2" asp-action="Details" asp-route-id="@item.IDVEHICULO">
                        <i class="fas fa-info-circle"></i> Detalles
                    </a>
                    <a class="btn btn-danger btn-sm ml-2" asp-action="Delete" asp-route-id="@item.IDVEHICULO">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                </td>
            </tr>
            }
        </tbody>
</table>


